:root {
    --border-radius-1: 2px;
    --border-radius-2: 5px;
    --z-index-low: 1;
    --z-index-mid: 2;
    --z-index-high: 3;
}

.dark {
    --color-primary: #181616;
    --color-secondary: #e4d3d3;
    --color-transitive-1: #2e2929;
    --color-transitive-2: #464242;
    --color-transitive-2-alpha: #e4d3d32a;
    --color-default: var(--color-secondary);
    --color-purple: #8a5db4;
    --color-red: #a85757;
    --color-green: #67ad59;
    --color-brown: #b3835c;
    --color-yellow: #a79355;
    --color-blue: #5866b1;
    --color-pink: #b65ab1; 
    accent-color: #f7e0e0;
    color-scheme: dark;
}

.light {
    --color-primary: #e4d3d3;
    --color-secondary: #131212;
    --color-transitive-1: #cfbcbc;
    --color-transitive-2: #a89999;
    --color-transitive-2-alpha: #1312122a;
    --color-default: var(--color-secondary);
    --color-purple: #53376d;
    --color-red: #6d3737;
    --color-green: #406d37;
    --color-brown: #6d4f37;
    --color-yellow: #6d6037;
    --color-blue: #373f6d;
    --color-pink: #6d376a; 
    accent-color: #181616;
    color-scheme: light;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;

    font-family: Verdana, sans-serif;

    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    box-sizing: border-box;

    background-color:var(--color-primary);
    color: var(--color-secondary);
}

main {
    display: block;
}

a {
    background-color: transparent;
}

svg:not(:root) {
    overflow: hidden;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: button;
    -webkit-appearance: button;
}
button {
    overflow: visible;
    text-transform: none;
    border: none;
    background-color: var(--color-transitive-1);
    color: var(--color-secondary);
    cursor: pointer;
    border-radius: var(--border-radius-2);
    font-size: unset;
}

button:hover,
button:active,
button:focus {
    box-shadow: transparent;
}
button:active{
    background-color: var(--color-transitive-2);
}

textarea {
    margin: 0;
    overflow: auto;
}

input {
    overflow: visible;
}
h1,
h2,
h3,
h4 {
    font-weight: bold;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.7em;
}

p {
    font-size: 1.5em;
}

span {
    font-size: 1.3em;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.display-none {
    display: none;
}

/* radio component */
.radio {
    padding: 0 5px;
    cursor: pointer;
}
.radio p {
    border: 2px solid var(--color-transitive-1);
    border-radius: var(--border-radius-2);
    padding: 5px;
}

.radio input:checked + p {
    background-color: var(--color-transitive-2);
    border-color: var(--color-transitive-2);
}


.close-button {
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    right: 10px;
    width: 30px;
    padding: 2px;
}

.section {
    padding: 10px;
}

.section h3 {
    padding: 5px 0;
}

/* hover */
@media (hover: hover) and (pointer: fine) {
    button:hover {
        background-color: var(--color-transitive-2);
    }

    /* radio component */
    .radio p:hover {
        background-color: var(--color-transitive-1);
    }
}

@media screen and (min-width: 400px) {
    body {
        font-size: 10px;
    }
}


@media screen and (max-width: 399px) {
    body {
        font-size: 9px;
    }
}

.add-tags {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-tags {
    position: relative;
}

.input-tags input {
    padding: 5px;
}

.suggested-tags {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 100px;
    overflow: auto;

    transform: translateY(4px);
    background-color: var(--color-transitive-2);
    border-radius: var(--border-radius-1);
    padding: 5px;
}

.input-tags input:focus + .suggested-tags {
    display: block;
}

.add-tags .add-button {
    padding: 2px 4px;
}

.tag-button {
    margin: 2px;
    padding: 2px;
}

.tag-button span {
    padding: 0 4px;
}

.tag {
    padding: 2px;
}
.tag span {
    border: 1px solid var(--color);
    border-radius: var(--border-radius-2);
    padding: 2px 4px;
}


.tags-selected-section>p {
    padding: 0 10px;
}

.tags-selected {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.color-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.color-item {
    padding: 5px;
}

.color-item input:checked +  .color-view {
    outline: 3px solid var(--color-transitive-2);
}

.color-view {
    width: var(--color-item-length);
    height: var(--color-item-length);
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.color-view.default {
    background-color: var(--color-default);
}
.color-view.blue {
    background-color: var(--color-blue);
}
.color-view.purple {
    background-color: var(--color-purple);
}
.color-view.pink {
    background-color: var(--color-pink);
}
.color-view.red {
    background-color: var(--color-red);
}
.color-view.brown {
    background-color: var(--color-brown);
}
.color-view.yellow {
    background-color: var(--color-yellow);
}
.color-view.green {
    background-color: var(--color-green);
}

@media (hover: hover) and (pointer: fine) {
    .color-view:hover {
        opacity: 80%;
        outline: 2px solid var(--color-transitive-2);
    }
}

@media screen and (max-width: 779px) {
    .color-container {
        --color-item-length: 20px;
    }
}

@media screen and (min-width: 780px) {
    .color-container {
        --color-item-length: 30px;
    }
}
.todo-parent {
    --section-padding: 10px;
    --color: var(--color-secondary)
}
.todo.title {
    padding: var(--section-padding);
}

.section.todo h4 {
    padding-bottom: 5px;
}

.todo.text-section textarea {
    width: 100%;
    max-height: 200px;
    min-height: 50px;
    resize: vertical;
    padding: var(--section-padding);
}

.todo.date-section div {
    display: flex;
    align-items: center;
}

.complete-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.complete-button {
    font-weight: bold;
    font-size: 1.7em;
    padding: 5px;
}
.todo-item {
    display: flex;
    flex-direction: row;
    min-width: 240px;
    max-width: 450px;
    height: min-content;
    margin: 10px;
    transition: all .5s ease-out;
}

.todo-item.completed {
    opacity: 80%;
}

.todo-item .left {
    color: var(--color);
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color);
    border-top-left-radius: var(--border-radius-2);
    border-bottom-left-radius: var(--border-radius-2);
}

.todo-header {
    display: flex;
    align-items: center;
    justify-content:space-between;

    position: relative;
    padding-bottom: 10px;
}

.todo-header button {
    display:flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    position:absolute;
    right: 0;
    font-size: unset;
    color: var(--color);
}

.todo-header button p {
    padding: 2px 4px;
}


.todo-item .right button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 5px;
    background-color: var(--right-background-color);
    color: var(--color-transitive-1);
    border-radius: unset;
    border-top-right-radius: var(--border-radius-2);
    border-bottom-right-radius: var(--border-radius-2);
}

.todo-item .right button .icon {
    width: 30px;
}

.todo-footer {
    display: flex;
    padding-top: 10px;
}

@media screen and (max-width: 779px) {
    .todo-item {
        width: 100%;
    }
}
.action-button {
    margin: 5px;
    padding: 5px;
}

.filter .status-container {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
}

.filter .status-section .radio {
    padding: 0 5px 5px;
}

@media screen and (min-width: 780px) {
    .section.filter h4 {
        padding-bottom: 5px;
    }
    .filter .color-section {
        width: 180px;
    }

    aside {
        width: 300px;
        border-left: 2px solid var(--color-transitive-1);
    }
}

@media screen and (max-width: 779px) {
    .actions {
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 400px) and (max-width: 779px) {
    .filter .status-section,
    .filter .color-section,
    .filter .tags-section {
        display: flex;
        align-items: center;
    }

}
.modal-root:not(.display-none) {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--color-transitive-2-alpha);
    z-index: var(--z-index-mid);
    
    overflow: auto;
}

.modal {
    width: 100%;
    max-width: 380px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-2);
    position: relative;
    padding: 10px;
    margin: 10px;
}

header {
    --header-padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    position: sticky;
    top: 0;
    z-index: var(--z-index-mid);
    padding-top: var(--header-padding);
    padding-bottom: var(--header-padding);
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.header-button:not(.center) {
    width: 30px;
    position: absolute;
}

.header-button.center {
    width: 40px;
}
/*
 * The +5px are the difference between
 * the header-button.center width and the others header-buttons.
 */
.header-button.left {
    left: calc(var(--header-padding) + 5px);
}

.header-button.right {
    right: calc(var(--header-padding) + 5px);
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 100%
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

@media screen and (min-width: 780px) {
    main {
        flex-direction: row;
        align-content: flex-start;
    }
}
@media screen and (max-width: 779px) {
    main {
        flex-direction: column;
        align-content: center;
    }
}
