.todo-parent {
    --section-padding: 10px;
    --color: var(--color-secondary)
}
.todo.title {
    padding: var(--section-padding);
}

.section.todo h4 {
    padding-bottom: 5px;
}

.todo.text-section textarea {
    width: 100%;
    max-height: 200px;
    min-height: 50px;
    resize: vertical;
    padding: var(--section-padding);
}

.todo.date-section div {
    display: flex;
    align-items: center;
}

.complete-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.complete-button {
    font-weight: bold;
    font-size: 1.7em;
    padding: 5px;
}
